# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.env
.venv
venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Large binary files – too big for GitHub (use Git LFS or host externally)
*.zip
*.pt

# Jupyter
.ipynb_checkpoints/
